name: Run Rust Application Nightly

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download binary from latest GitHub Release
        run: |
          curl -sL https://github.com/${{ github.repository }}/releases/download/latest/image-builder -o image-builder
          chmod +x image-builder

      - name: Run Rust application
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./image-builder

      - name: Copy updated file
        run: |
          cp updated_server_versions.json server_versions.json

      - name: Commit changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add server_versions.json
          git commit -m "Update server_versions.json with the latest versions" || echo "No changes to commit"

      - name: Push changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git push origin HEAD:${{ github.ref_name }}
